<div class="slider">

		<img class="imgToRotate" src="static/1.jpg" alt="Brak obrazka" title="Piłeś? Nie jedź!"/>
		<img class="imgToRotate" src="static/2.jpg" alt="Brak obrazka" title="Piłeś? Nie jedź!"/>
		<img class="imgToRotate" src="static/3.jpg" alt="Brak obrazka" title="Piłeś? Nie jedź!"/>
</div>